@layer components {
  :where(label:has(> [hellCheckbox][data-slot='root']:not([data-disabled], :disabled))),
  :where(label:has(> input[hellNativeCheckbox][data-slot='root']:not([data-disabled], :disabled))) {
    cursor: pointer;
  }

  :where(label:has(> [hellCheckbox][data-slot='root'][data-disabled])),
  :where(label:has(> [hellCheckbox][data-slot='root']:disabled)),
  :where(label:has(> input[hellNativeCheckbox][data-slot='root'][data-disabled])),
  :where(label:has(> input[hellNativeCheckbox][data-slot='root']:disabled)) {
    cursor: not-allowed;
  }

  :where(label):hover > input[hellNativeCheckbox][data-slot='root']:not([data-disabled], :disabled) {
    border-color: var(--color-hell-primary);
  }

  input[hellNativeCheckbox][data-slot='root'] {
    -webkit-appearance: none;
    text-indent: -9999px;
  }

  input[hellNativeCheckbox][data-slot='root']::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 5px;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: translate(-50%, -58%) rotate(-45deg) scale(0);
    transform-origin: center;
  }

  input[hellNativeCheckbox][data-slot='root'][data-indeterminate]::after {
    width: 10px;
    height: 2px;
    transform: translate(-50%, -50%) scaleX(1);
    border-radius: 2px;
    border-left: none;
    border-bottom: none;
    background: currentColor;
  }

  input[hellNativeCheckbox][data-slot='root']:checked::after {
    transform: translate(-50%, -58%) rotate(-45deg) scale(1);
  }
}
